#coin-release_date {
    display: block;
}

.coin-form > form > img {
    width: 200px;
}

#coinsearch-series_id {
    width: 250px;
}

.grid-coin {
    width: 75px;
}

.view-coin {
    width: 200px;
}

.chart-index {
    padding: 15px;
}
.content-header .col-md-6 h1 {
    font-size: 24px;
    margin: 5px 0;
}
